<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="weatherUrl" value="api.openweathermap.org/data/2.5/weather"/>
    <add key="appid" value="645958578ad07af2944914edc4469d13"/>
  </appSettings>
</configuration>